body {
    place-items: center;
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: clamp(150px, 85%, 1480px);
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
  }
  #drop-area.highlight {
    border-color: #707070;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
    place-items: center;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    color: #fff;
    background-color: #33b5e5 !important;
  }
  #fileElem {
    display: none;
  }
  #progress-bar {
      width: 90%;
  }
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .preview{
      aspect-ratio: 4 / 3;
  }
  .clear-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;      
  }